.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  -webkit-app-region: drag;

  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
}
